
.table{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    
} 
.reduce{
    background-color: #a701018e;
    color: white;
    outline: none;
}

.mail{
    border: 1px solid rgb(196, 196, 196);
    /* width: 100%; */
}
.ayc{
    font-size: 13px;
}
.firstrow{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
 }
 .btns .row{
    display: flex;
    align-items: start;
    justify-content: end;
 }
 .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .quantity1{
    display: none;
 }
 .price2{
    display: none;
 }
 .coupon{
    border: 1px solid rgb(202, 202, 202);
 }
@media screen and (max-width:576px) {
       .firstrow{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
          /* background-color: rgb(233, 31, 31); */
       }
       .btns .row{
        display: flex;
        align-items: start;
        justify-content: space-between;
     }
     .thead{
        display: none;
     }
     .subTotal{
        display: none;
     }
     .quantity{
        display: none;
     }
     .quantity1{
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .times{
        display: none;
     }
     .price1{
        display: none;
     }
     .price2{
        display: block;
        /* margin-top: 30px; */
        /* background-color: red; */
        height: 110px;
        display: flex;
        align-items: end;
        flex-direction: column;
        justify-content: space-between;
     }
     .coupon{
        border: none;
     }
}