body{
   margin: 0;
   padding: 0;
}
.table{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    
} 
.reduce{
    background-color: #b1060671;
    color: white;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.checktab{
    padding: 10px;
    border-radius: 2px;
}
.checktab td{
    padding: 12px 9px;
    display: flex;
    justify-content: space-between;
}

.mail{
    border: 1px solid rgb(196, 196, 196);
    /* width: 100%; */
    margin: 0;
    
}
.ayc{
    font-size: 13px;
}
.firstrow{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
 }
 .btns .row{
    display: flex;
    align-items: start;
    justify-content: center;
 }
 .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .quantity1{
    display: none;
 }
 .price2{
    display: none;
 }
 .coupon{
    border: 1px solid rgb(202, 202, 202);
    padding: 10px;
 }
 input::placeholder{
    color: black;
 }
 .secondBtns{
    display: none;
 }
 .prodImg{
    width: 100px;
    height: 100px;
 }
@media screen and (max-width:576px) {
       .firstrow{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
       }
       .btns .row{
        display: flex;
        align-items: start;
        justify-content: space-between;
     }
   
     .thead{
        display: none;
     }
     .subTotal{
        display: none;
     }
     .quantity{
        display: none;
     }
     .quantity1{
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .times{
        display: none;
     }
     .price1{
        display: none;
     }
     .price2{
        display: block;
        height: 110px;
        display: flex;
        align-items: end;
        flex-direction: column;
        justify-content: space-between;
     }
     .coupon{
        border: none;
        padding: 0px;
     }
     .summary{
        display: none;
     }
     .checktab{
    border: 1px solid rgb(219, 219, 219);

     }
     .secondBtns .row{
        display: flex;
     }
     .prodImg{
      width: 100px;
      height: 120px;
   }
}