th{
    border: 4px solid black;
    /* background-color: blanchedalmond; */
    width: 100%;
    border-collapse: collapse;
  }
tr{
    /* margin: 10px 20px; */
    /* background-color: rgb(255, 188, 188); */
}

.img{
    width: 100px;
    height: 100px;
}
.table{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
}
td{
    border: 1px solid black;
    border-collapse: collapse;

}
.mail{
    border: 1px solid rgb(196, 196, 196);
    width: 100%;
}
.ayc{
    font-size: 13px;
}
.firstrow{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
 }
 .btns .row{
    display: flex;
    align-items: start;
    justify-content: end;
 }
@media screen and (max-width:576px) {
       .firstrow{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
          /* background-color: rgb(233, 31, 31); */
       }
       .btns .row{
        display: flex;
        align-items: start;
        justify-content: space-between;
     }
}