p.mb-3{
    font-size: 20px;
}
.nav-link{
   /* margin: 0; */
}
input.Email{
    border: 1px solid white;
    background-color: #a70101;
    outline: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px 15px;
    color: white;
    width: 70%;
    margin-left: 18px;
}
.Email::placeholder{
    color: white;
    /* font-weight: lighter; */
}
.footer{
    background: #A70201;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
.footer .row{
     display: flex;
     align-items: start;
     justify-content: space-between;
}
.news{
    display: flex;
    /* align-items: center; */
    justify-content: start;
}
.prepend{
    background-color: #a70101;
    border: 1px solid white;
    background-color: #a70101;
    outline: none;
    border-radius: 5px;
    color: white;
    width: 30%;
    height: 40px;
    padding: 0px 5px;
}
@media screen and (max-width: 576px) {
       .footer .row{
          display: flex;
        align-items: start;
        justify-content: start;
       }
       .footer{
        background: #A70201;
        
    }
    .news ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: rgb(0, 253, 0); */
        
    }
    input.Email{
        width: 100%;
        margin-left: 0px;

    }
}
